@model IEnumerable<MessageModel>

@{
    ViewData["Title"] = "История";
}

<h4>История сообщений за последние 10 минут</h4>

<div class="container">
    <div class="row">
        @foreach (var message in Model)
        {
            <div class="mt-3">
                <div>Дата: @message.SendDate.ToString("dd.MM.yyyy HH:mm")</div>
                <div>Номер: @message.MessageId</div>
                <div>Сообщение: @message.Content</div>
                <div class="border-bottom"></div>
            </div>
        }
    </div>
</div>
