
@{
    ViewData["Title"] = "Получить (сокет)";
}

<div class="container">
    <h4>Получить сообщения по веб-сокету</h4>
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-12">
            <ul id="messageList" class="list-group "></ul>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/dist/browser/signalr.min.js"></script>
    <script src="~/js/messages.js"></script>
}
